@import url(https://fonts.googleapis.com/css?family=Roboto:300);

html {
  height: 100%;
  background-color: #27A4DD;
}

body {
  background-color: transparent;
  font-family: "Roboto", sans-serif;
  background-color: #27A4DD;
}

.my_social {
  position: absolute;
  top: 25px;
  left: 25px;
}

.my_social a {
  display: inline-block;
  height: 2.5em;
}

.my_social a img {
  height: 1.5em;
}

.container {
  text-align: center;
  margin-top: 30px;
  width: 350px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
}

#submit {
  background-color: #27A4DD;
  color: #ffffff;
  border: 0px;
  padding: 10px 30px;
  border-radius: 5px;
  width: 90%;
}

.ty {
  text-align: center;
  margin: 50px auto;
  width: 15%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 2px;
  display: none;
}

.tyo {
  display: block;
}

/*input {
	border: 0;
	padding: 5px;
	border-radius: 5px;
	width: 90%;
	height: 35px;
	margin: 10px;
	text-align: center;
	background-color: #f0f0f0;
}

.container img {
	margin-left: -5px;
}

.header {
	text-align: center;
}
.wrong {
	cursor: no-drop;
	text-decoration: none;
}

.wrong:hover {
	text-decoration: none;
}

.wrong:active {
	text-decoration: none;
}

.containers {
  width: 520px;
  margin: 20px auto;
}

#contact h1 {
  font-family: helvetica;
  font-weight: normal;
  text-align: center;
  color: #c0c0c0;
  padding-top: 50px;
  padding-bottom: 10px;
  width: 375px;
  margin: 0 auto;
  border-bottom: 3px solid #f3f3f3;
}

.cal {
  display: inline-block;
  background: #ffe;
  color: #555;
  font-size: 6px;
  text-align: center;
  transform: scale(1);
  transition: all 0.2s linear;
}

.cal:hover {
  transform: scale(2.5);
  transition: all 0.4s linear;
}

.cal caption {
  background: #d44;
  color: #eee;
  font-size: 15px;
}

.cal th {
  color: #aaa;
  line-height: 200%;
}

.cal th:first-child {
  color: #f00;
}

.cal th:last-child {
  color: #04d;
}

.cal td {
  padding: 0 2px;
  line-height: 100%;
}
